body{
  width: 100%
}
#navbar{
  color: white;
}
nav{
  background-color: #80CED7;

}
.lsf{
  background: #80CED7;
  text-align: center;
  padding-bottom: 20px;
  line-height: 2;
}
.underline{
  text-decoration: underline;
}

#mv{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  background-color: #fff;
}
.col-sm-6{
  padding-left: 80px;
  text-align: center;
  margin-bottom: 60px;

}
.poss{
  color: #8f8f8f;

}
.fe{
  font-size: 80px;
  color: #9AD1D4;
  margin-bottom: 10px;
}
.fe:hover{
  color: #80CED7;
}

#gallery{
  margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.timeline-container{
  position: relative;
  width: 100%;
  margin: 150px auto 0 auto;
}

.timeline-container::after{
  content: '';
  position: absolute;
  width: 6px;
  background-color: #9AD1D4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.text-wrapper{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-sizing: border-box;
  margin: 50px 0;
}

.text-wrapper::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: #1782D3;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left{
  left: 0;
}
.right{
  left: 50%;
}
.right::after{
  left: -10px;
}

.text{
  padding: 15px 15px 15px 17px;
  background-color: #80CED7;
  border-radius: 4px;


}


.text h3{
  text-transform: uppercase;
  font-size: 14px;
  color: #212121;
  letter-spacing: 1px;
}
.text p{
  color: white;
  font-weight: 300;
  font-size: 18px;
  margin-top: 2px;
}

#header{
  background-color: #80CED7;
  text-align: center;
  padding-top: 30px;
}
.fa-facebook{
  padding-bottom: 10px;
}
.Copyright{
  padding-bottom: 10px;
}

.about{
  line-height: 2;
  margin-left: 30px;
  margin-right: 30px;
}
.ab{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #80CED7;
  text-align: center;
  padding-top: 30px;
  width: 100%;
}
.story{
  line-height: 2;
  margin-left: 30px;
  margin-right: 30px;
}
.st{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ct{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
.contact{
  text-align: center;
}
